# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
build/

# env files
.env
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# test coverage
coverage/
.tsbuildinfo
